:root {
  --eerie-black: hsla(154, 13%, 11%, 1);
  --cal-poly-green: hsla(125, 24%, 20%, 1);
  --hunter-green: hsla(113, 36%, 26%, 1);
  --fern-green: hsla(75, 41%, 31%, 1);
  --apple-green: hsla(66, 46%, 45%, 1);
  --apple-green-50: hsla(66, 46%, 45%, .5);

  --white: #ffffff;
  --black: #000000;
}
