<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  </head>
  <body{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    <header role="banner">
      <div class="layout-wrapper">
        <div class="branding"><a href="/" title="Projet NV - Accueil">Projet NV</a></div>
        <nav role="navigation" aria-labelledby="main-nav-title">
          <h2 class="sr-only" id="main-nav-title">Navigation principale</h2>
          <ul>
            <li><a href="/association">L'association</a></li>
            <li><a href="/projets">Nos projets</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main role="main">
      <div class="layout-wrapper">
        {{ content | safe }}
      </div>
    </main>

    <footer role="contentinfo">
      <div class="layout-wrapper">
        <nav role="navigation" aria-labelledby="secondary-nav-title">
          <h2 class="sr-only" id="secondary-nav-title">Navigation secondaire</h2>
          <ul>
            <li><a href="/accessibilite">Accessibilité : non conforme</a></li>
            <li><a href="/mentions-legales">Mentions légales</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
