---
layout: layouts/base.njk
title: L'association
templateClass: page page--asso
metadata:
  title: L'association | Projet NV
---
{% include 'components/hero_title.njk' %}
{#<div class="intro">#}
{#  <p></p>#}
{#</div>#}
<div class="content">
  <h2>Objet social</h2>
  <p>Notre association a pour objet de promouvoir par l'accompagnement et le conseil diverses pratiques visant à réduire son empreinte écologique et sociale. L'association peut être amenée à intervenir à propos de sujets tels que l'agriculture de conservation, l'habitat, l'alimentation, la consommation éthique ou la conception de produits physiques ou numériques respectueux de l'environnement et des populations fragiles, par exemple.</p>
  <p>Dans le cadre de ses activités, l'association pourra être amenée à mettre en place un ou plusieurs espaces d'expérimentation et de conseil (zone de culture agroécologique, ateliers de fabrication ou transformation, ateliers de conception numérique, etc.). Afin d'atteindre ses objectifs, l'association pourra être amenée à commercialiser les produits issus de ces espaces.</p>
  <h2>Documents</h2>
  <details>
    <summary>Généraux</summary>
    <ul>
      <li><a href="/docs/statuts.pdf" download>Statuts (pdf - 55 Ko)</a></li>
    </ul>
  </details>
  <details>
    <summary>AG 2023</summary>
    <ul>
      <li><a href="/docs/2023/AGO_2023_CR.pdf" download>Compte rendu AGO (pdf - 524 Ko)</a></li>
      <li><a href="/docs/2023/AGE_2023_CR.pdf" download>Compte rendu AGE (pdf - 237 Ko)</a></li>
      <li><a href="/docs/2023/AG_2023_docs.zip" download>Documents complémentaires (zip - 236 Ko)</a></li>
    </ul>
  </details>
</div>
