---
layout: layouts/base.njk
title: Nature Vivante, Nouvelle Vie
templateClass: page page--home
metadata:
  title: Projet NV - Association loi 1901 à but non lucratif
---
{% include 'components/hero_title.njk' %}
<div class="intro">
  <p>Les écosystèmes se meurent et notre société, qui en est la principale cause, suit de près.</p>
  <p><strong>Nous ne resterons pas sans rien faire !</strong></p>
</div>
